body{background-color:#f3f3f3}
#qlive-body{display:table; background-color:#f3f3f3;width:100%}
.layui-input-block{width:87%}
.common-box{
	    border: 1px solid #c9c9c9;
    border-radius: 1px;
    box-shadow: 0 1px 2px #d3d3d3;
    background-color: #fcfcfc;
    margin: 0 auto;
    display: block;
    width: 1010px;
    margin-left: 245px;
    margin-top: 45px;
}

.layui-border-box-js{
    width: 100%;
    border: none;
    padding: 10px;
    resize: none;
    font-size: 12px;
    background-color: #F7FBFF;
    color: #881280;
    display: table;
    font-family: Courier New;    min-height: 100px;
}

.layui-code-view{
	padding-bottom: 10px;
}

.layui-code-view .layui-code-ol li {
    position: relative;
    margin-left: 45px;
    line-height: 12px !important;
    padding: 0 5px;
    border-left: 1px solid #ddd;
    list-style-type: decimal-leading-zero;
    background-color: #fff;
    font-size: 12px !important;
}
